.Controls{
  width: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
  background-color: #99CCCC;
  padding: 20px;
}

.Order{
  background-color:#FFFF33;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
}

.Order:disabled{
  background-color: #FAFAD2;
  cursor: not-allowed;
}

@media (max-width: 500px){
  .Controls{
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 770px){
  .Controls{
    width: 95%;
  }
}

@media (min-width: 771px) and (max-width: 1030px){
  .Controls{
    width: 96%;
  }
}

