.Wrapper{
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  display: flex;

}

.Contain{
  background-color: #D6EEF0;
  height: 670px;
  margin: 0 auto;
}

.FullSundae{
  height:650px;
  position:static;
  width: 240px;
  margin: auto;
  margin-top: 10px;
  overflow: scroll;

}

/* .FullSundae > .iceCreamScoop{
  height:100px;
}

.Glass{
  position:relative;
  height: 20px;
  width: 165px;
  margin: 0 auto;
  background-color:#FFFFE0;
  box-shadow: 3px 5px #888888;
  border-radius: 4px;
}

.Cone{
  height: 10px;
  width: 200px;
  margin: 0 auto;
  background-color:#FFFFE0;
  box-shadow: 3px 5px #888888;
  border-radius: 10px;
} */

/* .Glass .iceCreamScoop{
  height: 33.3%;
  position:relative;
  z-index: 1;
  display: flex;
} */